<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <title><%= current_page.data.title || 'BigClown' %></title>

    <%= stylesheet_link_tag :main %>
  </head>

  <body>
    <%= partial '_layouts/header' %>

    <%= partial '_layouts/navbar' %>

    <div id="main-wrapper">
      <%= partial '_layouts/toolbar' %>

      <article class="main-content <%= page_classes %>">
        <h1>
          <%= current_page.data.title %>
        </h1>
        <%= yield.presence || 'This page is empty' %>
      </article>

      <%= partial '_layouts/footer' %>
    </div>

    <%= partial '_layouts/icons' %>
  </body>
</html>
